<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=UTF-8">
  <title>系统用户列表</title>
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/commonadmin.css"/>
  <script type="text/javascript" src='__PUBLIC__/js/jquery-1.9.1.min.js'></script>
</head>
<body>
<div class='status'>
  <span>系统用户检索</span>
</div>
<div style='width:600px;text-align:center;margin : 20px auto;'>
  <form action="__SELF__" method='get'>
    检索方式：
    <select name="type">
      <option value="1">用户ID</option>
      <option value="0">用户昵称</option>
    </select>
    <input type="text" name='sech' style="height:28px;line-height: 28px"/>
    <button type="submit" value='' class='see'>查找</button>
  </form>
</div>
<table class="table">
  <if condition='isset($user) && !$user'>
    <tr>
      <td align='center'>没有检索到相关用户</td>
    </tr>
    <else/>
    <tr>
      <th>ID</th>
      <th>用户昵称</th>
      <th>头像</th>
      <th>个人信息</th>
      <th>注册时间</th>
      <th>账号状态</th>
      <th>操作</th>
    </tr>
    <foreach name='user' item='v'>
      <tr>
        <td width='40' align='center'>{$v.id}</td>
        <td width='70' align='center'>{$v.username}</td>
        <td width='80' align='center'>
          <img src="<if condition='$v[" face"]'>__ROOT__/Uploads/{$v.face}
          <else/>
          __ROOT__/Public/Images/user-default-pic.jpg
  </if>
  " width='50' height='50'/>
  </td>
  <td>
    <ul>
      <li>性别：{$v.sex}</li>
      <li>城市：{$v.location}</li>
      <li>简介：{$v.intro}</li>
    </ul>
  </td>
  <td width='100' align='center'>{$v.registime|date='Y-m-d', ###}</td>
  <td width='70' align='center'>
    <if condition='$v["lock"]'>锁定</if>
  </td>
  <td width='100' align='center'>
    <if condition='$v["lock"]'>
      <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-cog"></span>
        <a href="{:U('lockUser', array('id' => $v['id'], 'lock' => 0))}" class='add'>解除锁定</a>
      </button>
      <else/>
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-lock"></span>
        <a href="{:U('lockUser', array('id' => $v['id'], 'lock' => 1))}" class='add'>锁定用户</a>
      </button>
    </if>
  </td>
  </tr>
  </foreach>
  </if>
</table>
</body>
</html>